/* Paleta de colores */
:root {
    --color-primary: #333333; /* Gris oscuro */
    --color-secondary: #666666; /* Gris medio */
    --color-tertiary: #999999; /* Gris claro */
    --color-background: #f5f5f5; /* Gris muy claro */
    --color-white: #ffffff; /* Blanco */
  }
  
  /* Estilos generales */
  body {
    font-family: Arial, sans-serif;
    background-color: var(--color-background);
    color: var(--color-primary);
  }
  
  /* Estilos para el encabezado */
  header {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 20px;
  }
  
  /* Estilos para el contenido principal */
  main {
    padding: 20px;
  }
  
  /* Estilos para los formularios */
  form {
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--color-tertiary);
  }
  
  input,
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--color-tertiary);
    border-radius: 3px;
  }
  
  button {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--color-primary);
  }